

/* ------------------------------ */
/* Table Styling ---------------- */
/* ------------------------------ */
.table-visitors, .table-visits {
    width: 100%; 
    margin: 1rem auto;
    border-collapse: collapse;
    table-layout: fixed; 
    box-sizing: border-box;
}

.table-visitors th, .table-visits th, 
.table-visitors td, .table-visits td {
    padding: 0.1rem;
    text-align: left;
    border: 1px solid var(--fill-color-lite); 
}

.table-visitors th, .table-visits th {
    font-weight: bold;
}

/* ------------------------------ */
/* Mobile Formatting ------------ */
/* ------------------------------ */ 
@media screen and (max-width: 768px) {
    .table-visitors, .table-visits {
        width: 100%; 
        font-size: 0.9em; 
    }

    .table-visitors th, .table-visits th, 
    .table-visitors td, .table-visits td {
        padding: 8px; 
    }
}



