
<article id="skills">
    <div class="skill-list">
        <div class="skill-item">
            <span class="heading">languages</span>
            <span class="heading">education</span>
            <span class="heading">hours</span>
            <span></span>
            <span></span>
        </div>
        {% for lang in languages %}
        <div class="skill-item">
            <span>{{ lang.name }}</span>
            <span class="xp-bar" style="width: {{ lang.education }}%"></span>
            <span class="hours">{{ lang.hours }}</span>
            <span class="xp-bar" style="width: {{ lang.experience }}%"></span>
            <span></span>
        </div>
        {% endfor %}

        <div class="grid-spacer"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>

        <div class="skill-item">
            <span class="heading">core competencies</span>
            <span class="heading">education</span>
            <span class="heading">hours</span>
            <span></span>
            <span></span>
        </div>
        {% for skill in skills %}
        <div class="skill-item">
            <span>{{ skill.name }}</span>
            <span class="xp-bar" style="width: {{ skill.education }}%"></span>
            <span class="hours">{{ skill.hours }}</span>
            <span class="xp-bar" style="width: {{ skill.experience }}%"></span>
            <span></span>
        </div>
        {% endfor %}

        <div class="grid-spacer"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>

        <div class="skill-item">
            <span class="heading">software</span>
            <span class="heading">education</span>
            <span class="heading">hours</span>
            <span></span>
            <span></span>
        </div>
        {% for program in software %}
        <div class="skill-item">
            <span>{{ program.name }}</span>
            <span class="xp-bar" style="width: {{ program.education }}%"></span>
            <span class="hours">{{ program.hours }}</span>
            <span class="xp-bar" style="width: {{ program.experience }}%"></span>
            <span></span>
        </div> 
        {% endfor %}
    </div>
</article>
