
<p>this is what I use</p>

<ul>
    <li>Mouse: Logitech MX Vertical</li>
    <li>Keyboard: Keychron K2 Mechanical</li>
    <li>Headphones: Apple Airpods Pro 2</li>
</ul>

<ul>
    <li>CPU: Intel i7 13th gen</li>
    <li>GPU: Nvidia GeForce RTX 4090</li>
    <li>RAM: 64GB DDR4</li>
    <li>Fans: Noctua NF-A14x25 G2</li>
    <li>Memory: 2TB Samsung M.2</li>
    <li>Cooling: Cooler Master AIO 3x120mm</li>
    <li>Case: Fractal North</li>
</ul>

<ul>
    <li>IDE: vscode + bash</li>
    <li>OS: Windows + Linux Ubuntu</li>
    <li>Notes: Obsidian.md</li> 
    <li>Browser: Firefox</li>
</ul>
