<!-- about.html -->
{% extends 'base.html' %}

{% block content %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

<section class="primary">
    <p>{{ intro }}</p>
    <a id="link-conversion" rel="nofollow, noindex" href="please dont scrape me">
        <div id="email-spacer">
            <span class="email" id="text-conversion">dont scrape me</span>
        </div>
    </a>
</section>

<section class="secondary">

    <article class="navigator">
        <nav>
            <ul>
                <li><a class="hover" href="/about/interests" data-page="interests">interests</a></li>
                <li><a class="hover" href="/about/likes" data-page="likes">likes</a></li>
                <li><a class="hover" href="/about/uses" data-page="uses">uses</a></li>
            </ul>
        </nav>
    </article>

    <section id="dynamic-content">
        {% if subpage == "uses" %}
            {% include "subpages/_uses.html" %}
        {% elif subpage == "likes" %}
            {% include "subpages/_likes.html" %}
        {% else %}
            {% include "subpages/_interests.html" %}
        {% endif %}
    </section>
    
    <div class="footer-img">
        <img src="{{ url_for('static', filename='footer.png') }}" alt="Photo of a narrow valley flanked by steep hills in Denali National Park (2022)">
    </div>
</section>

{% endblock %}
