<!-- home.html -->
{% extends 'base.html' %}

{% block content %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

<section class="primary">
    <article id="profile">
        <figure>
            <img src="{{ url_for('static', filename='profileB.png') }}" alt="Profile Picture">
        </figure>
        <div>
            <h4>Kaleb Troyer</h4>
            <h4>Thermal / Mechanical / Computational Engineering</h4>
            <ul>
                <li><a href="https://www.linkedin.com/in/kaleb-troyer-78a6a5106/">
                    <i class="fa-brands fa-linkedin"></i></a></li>
                <li><a href="https://github.com/kaleb-troyer">
                    <i class="fa-brands fa-square-github"></i></a></li>
            </ul>
        </div>
    </article>
    <h2>Introduction</h2>
    <p>{{ introduction }}</p>
</section>

<section class="secondary">

    <article class="navigator">
        <nav>
            <ul>
                <li><a href="/home/impact" data-page="impact">impact</a></li>
                <li><a href="/home/skills" data-page="skills">skills</a></li>
                <li><a href="/home/experience" data-page="experience">experience</a></li>
                <li><a href="/home/education" data-page="education">education</a></li>
            </ul>
        </nav>
    </article>

    <section id="dynamic-content">
        {% if subpage == "experience" %}
            {% include "_experience.html" %}
        {% elif subpage == "skills" %}
            {% include "_skills.html" %}
        {% elif subpage == "education" %}
            {% include "_education.html" %}
        {% else %}
            {% include "_impact.html" %}
        {% endif %}
    </section>

</section>

{% endblock %}

