<!-- portfolio.html -->
{% extends 'base.html' %}

{% block content %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/portfolio.css') }}">
{% endblock %}

<section class="primary">
    <h2>design work</h2>
    <p> 
        {{ introduction }}
    </p>
</section>

<section class="secondary">

    {% for item in portfolioItems %}
    <article id="portfolio-item">
        <figure>
            <img src="{{ url_for('static', filename='portfolio/' + item.figure) }}" alt="{{ item.name }}">
        </figure>
        <h3>{{ item.name }}</h3>
        <p>{{ item.description }}</p>
        {% if item.link != "" %}
        <p>
            Visit the project, <a href="{{ item.link }}" target="_blank" rel="noopener noreferrer">here</a>.
        </p>
        {% endif %}
    </article>
    {% endfor %}

</section>

{% endblock %}
